@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 500px;
  overflow: hidden;
}

#root {
  width: 360px;
  height: 500px;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-inknut-antiqua {
  font-family: 'Inknut Antiqua', serif;
}

.font-inria-sans {
  font-family: 'Inria Sans', sans-serif;
}
